<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" packages="org.yuezhikong.utils.log4j2">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[时间：%d{HH:mm:ss}] [线程：%t] [日志等级：%level]: %msg%n" />
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="[时间：%d{HH:mm:ss}] [线程：%t] [日志等级：%level]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="25 KB" />
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="DebugLog" fileName="logs/debug.log" filePattern="logs/%d{yyyy-MM-dd}-%i.debug.gz">
            <PatternLayout pattern="[时间：%d{HH:mm:ss}] [线程：%t] [日志等级：%level]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="25 KB" />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="Debug" level="debug" additivity="false">
            <AppenderRef ref="DebugLog"/>
        </Logger>
    </Loggers>
</Configuration>