name: PR Request
on: pull_request

permissions:
  pull-requests: write
  contents: write
  actions: read
  security-events: write

jobs:
  codeql-build:
    uses: ./.github/workflows/buildandcodeql.yml
    
  dependabot:
    needs: codeql-build
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]' && github.repository == 'JavaIM/JavaIM'
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a
        with:
          github-token: "${{ secrets.ACCESS_TOKEN }}"
          
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.ACCESS_TOKEN}}
          
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.ACCESS_TOKEN}}

